.progress-steps {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.progress-steps__container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 40px;
}

.progress-steps__container::before {
  content: '';
  position: absolute;
  background: #d7d3d7;
  height: 4px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 0;
}

.progress-steps__item {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.progress-steps__dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #dfbcbc;
  border-radius: 50%;
  z-index: 2;
}

.progress-steps__dot.completed {
  background-color: #037231;
}

.progress-steps__icon-only {
  font-size: 13px;
  color: #4B3621;
  z-index: 3;
}

.progress-steps__label-container {
  margin-top: 10px;
  text-align: center;
}

.progress-steps__label {
  font-size: 10px;
  color: #4B3621;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .progress-steps__icon-only {
    font-size: 8px;
  }

  .progress-steps__label {
    font-size: 6px;
  }

  .progress-steps__dot {
    width: 8px;
    height: 8px;
  }
}
