:root {
  --primary-color: #6f4e37;
  --secondary-color: #000000;
  --background-color: #f8f9fa;
  --text-color: #333;
  --accent-color: #ffcc00;
  --border-color: #ddd;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--secondary-color)
  );
}

button:hover {
  background: linear-gradient(
    45deg,
    var(--secondary-color),
    var(--primary-color)
  );
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.modal-content .text-content h2 {
  color: var(--primary-color);
}
